html {
    box-sizing: border-box;
}

*, *::after, *::before, *:after, *:before {
    box-sizing: inherit;
}

h1 {
    text-align: center;
    color: rgb(166, 130, 199);
}

ul {
    list-style: circle;
}

a {
    text-decoration: none;
}
